# --- Backend (Gradle) ---
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/.project
backend/.classpath

# --- Frontend (Node/React) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# --- Sensitive Files (CRITICAL) ---

**/application.properties
**/application.yml
.env

# --- IDE & OS Specific ---
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db